*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;       
    }
}

textarea{
    resize: none;
}



.arrow-up{
    position: fixed;
    width: 40px;
    height: 40px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 35px;
    color: white;
    font-size: 20px;
    z-index: 5;
    
}


@import './mixins';
@import './variables';

/*section / pages styling*/
@import './nav';
@import './index';
@import './about';



